
@media screen and (max-width: 1000px) {

.container{
	padding: 0px;
	margin: 0 auto;
}

h2{
	font-size: 18px;
	padding-top: 50px;
}

h3{
	font-size: 16px;
}


/*header*/

.list{
	display: none;	
}


nav {
   padding-left: 5px;
   padding-right: 25px;  
}

.menu{
	display: inline;
}

nav .fa{
	padding-top: 30px;
}

/* home */
.img-home img{
	width: 300px;
	padding-top: 10px;
}

.text-home{
	padding-left:20px;
}

.top{
	display: inline;
}

h1{
	letter-spacing: 0px;
	font-size: 35px;
	padding-top: 30px;
}

.text-home p{
	width: 300px;
	font-size: 12px;
}

.img-home{
	text-align: center;
}

/*fitur*/
.fitur{
	width: 100%;
	padding-top: 30px;
	margin-right: 30px;
	margin-left: 30px;
}

.card{
   width: 70%;
   height: 300px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.5);
   border-radius: 30px;
}

#fitur{
	height: 1600px;
}

/*about*/
#about img{
	width: 300px;
}

.about{
	display: inline;
}

#about{
	text-align: center;
}

#about h3{
	width: 300px;
}

.right-about{
	display: none;
}

.right{
	display: inline;
}

#about h2{
	padding-bottom: 50px;
}

/*kontak*/
input{
	width: 210px;
	padding: 15px;
}

#kontak button{
	width: 250px;
	margin-top: 20px;
	padding:15px; 
}

/*footer*/
.footer{
	display: inline;
}

footer{
	text-align: center;
}

a{
	padding: 10px;
}
}